<!DOCTYPE html>
<html>
  <head>
  <!-- <link href="stylesheets/home.css" rel="stylesheet" type="text/css"> -->
    <link rel="stylesheet" href="../../stylesheet/style.css" type="text/css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.12.2/react.js"></script>          
    <script src="https://cdnjs.cloudflare.com/ajax/libs/react/0.12.2/JSXTransformer.js"></script> 
    <script src="https://cdnjs.cloudflare.com/ajax/libs/showdown/0.3.1/showdown.min.js"></script>  
    <script type="text/jsx;harmony=true" src="/javascripts/shared_components.jsx"> </script>
    <meta charset="utf-8">
    <title>Olinpedia</title>
    <!-- <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'> -->
  </head>
  <body>
      {{{body}}}
  </body>
  <!-- Copyright Yuzhong (C) -->
</html>
