<h1> Submit your article </h1>

<form id="" method="POST">
    Article title<br>
    <input id="name" type="text" value=""><br>
    Article description<br>
    <textarea id="description" ></textarea><br>
    <p> image </p>
    <input id="article_submit_button" class="button" type="submit" value="Submit new article!">
</form>

<!-- <script type="text/javascript" src="javascripts/home.js"></script> -->
