<!-- <h1> Create your collection </h1>

<form id="new_collection_form" method="POST">
    Collection Name<br>
    <input id="name" name="name" type="text" value=""><br><br>
    <input id="collection_submit_button" class="button" type="submit" value="Create new collection!"></input>
</form> -->

<div id="content"></div>                
<script type="text/jsx;harmony=true" src="/javascripts/new_collection_form.jsx"> </script>
